body {
	font-family: "Comfortaa", cursive, sans-serif;
	background-color: #333;
	color: #fff;
	font-size: 36px;
}

img {
	display: block;
	margin: 0 auto;
	width: 800px;
	border-radius: 25px;
}

p {
	color: lime;
	}

span {
	text-decoration: underline;
	color: tomato;
}