body {
	font-family: "Comfortaa", cursive, sans-serif;
	background-color: #333;
	color: #fff;
	font-size: 36px;
	margin 5px;

}


.container {
	display: flex;
	align-items: center;
	justify-content: center;

}

img {
	width: 800px;
	border-radius: 25px;
}

p {
	color: lime;
	}

span {
	text-decoration: underline;
	color: tomato;
}