* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	background-color: #333;
	color: #fff;
	font-size: 36px;
	margin: 50px; 
}

div p {
	color: tomato;
}

div.child > p {
	text-decoration: line-through;
	font-weight: 700;
}

div#test ~ div {
	background-color: royalblue;
}

main + p {
	text-transform: uppercase;
}

div > p
div + p
div ~ p