* {
	/* box-sizing: border-box; */
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333;
	color: #fff;
	font-size: 36px;
	/* margin: 50px; */
}

.square {
	width: 300px;
	height: 300px;
    padding: 20px;
    border: 10px solid black;
    margin: 20px;
}

.content {
	background-color: royalblue;
    box-sizing: content-box;
}

.border {
	background-color: lime;
    box-sizing: border-box;
}
