* {
	/* box-sizing: border-box; */
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #333;
	color: #fff;
	font-size: 36px;
	/* margin: 50px; */
}

.square {
	width: 300px;
	height: 300px;
	padding: 20px;
	border: 10px solid black;
	margin: 20px;
	padding: 80px 40px 15px 5px;
	padding: 10px;
	margin: 20px 30px 40px;
	margin: 100px 50px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 40px;
	padding-left: 50px;
	padding-top: 20px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 30px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding-top: 20px;
	padding-right: 40px;
	padding-bottom: 20px;
	padding-left: 40px;
}

.content {
	background-color: royalblue;
	box-sizing: content-box;
}

.border {
	background-color: lime;
	box-sizing: border-box;
}

.btn {
	padding: 10px 20px;
	background-color: tomato;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: 300ms;
}

.btn:hover {
	background-color: gold;
	box-shadow: 0 0 5px gold;
}
